---

# APT

apt_config_group:
  - path: '/etc/apt/sources.list.d/proxmox.list'
    state: True
    repositories:
      - url: 'http://download.proxmox.com/debian/pve'
        state: True
        comment: 'Debian - Security'
        distribution: 'bookworm'
        components: ['pve-no-subscription']

apt_http_proxy: 'http://proxy.example.com:3128'
apt_https_proxy: 'http://proxy.example.com:3128'
apt_prometheus_state: True

# AUDITD

auditd_config_all:
  - name: 'audit'
    state: True
    config: |
      # First rule - delete all
      -D
      # Increase the buffers to survive stress events.
      -b 8192
      # Set failure mode to syslog
      -f 1
      # Log all commands (32-bit)
      -a exit,always -F arch=b32 -S execve -k auditcmd
      # Log all commands (64-bit)
      -a exit,always -F arch=b64 -S execve -k auditcmd
      # Enable auditd
      -e 1
      # Make config immutable - reboot required to change ruleset
      -e 2

auditd_monit_state: True

# BASH

bash_tmout: ''

# CA_CERTIFICATE

ca_certificate_config:
  - name: 'ca.example.com.crt'
    state: True
    content: |
      -----BEGIN CERTIFICATE-----
      MIIKWTCCBkGgAwIBAgIUVp2gpuBisK+mTHwq/7fK52XELn0wDQYJKoZIhvcNAQEL
      BQAwgZoxCzAJBgNVBAYTAkNDMRQwEgYDVQQIDAtjeWJlciBzdGF0ZTETMBEGA1UE
      BwwKY3liZXIgY2l0eTEQMA4GA1UECgwHZXhhbXBsZTETMBEGA1UECwwKY3liZXIg
      dGVhbTEXMBUGA1UEAwwOY2EuZXhhbXBsZS5jb20xIDAeBgkqhkiG9w0BCQEWEWFk
      bWluQGV4YW1wbGUuY29tMB4XDTI0MDEyMTEzMzU1OFoXDTM0MDExODEzMzU1OFow
      gZoxCzAJBgNVBAYTAkNDMRQwEgYDVQQIDAtjeWJlciBzdGF0ZTETMBEGA1UEBwwK
      Y3liZXIgY2l0eTEQMA4GA1UECgwHZXhhbXBsZTETMBEGA1UECwwKY3liZXIgdGVh
      bTEXMBUGA1UEAwwOY2EuZXhhbXBsZS5jb20xIDAeBgkqhkiG9w0BCQEWEWFkbWlu
      QGV4YW1wbGUuY29tMIIEIjANBgkqhkiG9w0BAQEFAAOCBA8AMIIECgKCBAEAmJfe
      pqpFjTpQNCDMMELNC7kmhPCCGqvbJepfXMM4AwkCv40L4jsQqo6eZZu6LQJzEjbc
      S1iCJtUksy7NUPp0+i2xCqN8gqtDgaWGTJq4thTUrEUOVxuRFirAncSCIARdtE/F
      t4AitFZkxXCfoJ+9KMxyOvhmtMXuA5YRKCfto8V+iEihzbN5176NtZBmzB+tZqJW
      uSp+IgnTtuKOki/Exanqn3UmgRw73f6kjpTonmjpCyTA+PGaVYrCqOa90okLu1ky
      r0uvc3pSgJ7zKSFBo7YjX6KnOeiZGbbmrykB6hPNA8MBfbz5Miwwy7KCPkU720No
      anCbWf3TtG4oxhm6qnD8IZUivtlHW8/vP/ZsUA/Ew6M5oltZBAn+my934MBhLhfb
      6MK6hRSRGOIy7b2taTeLyhtzLFAUCku7ZT10r+CZNtwkeWG/JAeVCP5Cn1CaGUKe
      rnkHB/BL4T169dQioTMEQzyUxEvj9SdqJqwpjAxbOOesm9Qw0mYra+NSSv3U9125
      jiOEADB1mS6yfv6DCAJCZl/VTkl++Ik1fC7wZApGFepHf1BMCGwddcsTu5a0zBwm
      eXmxxbuTwbUYV4ANAWWA3gRbCnrqsM3BrUfjC1EdT4n2DJjjTRTm2HDjx3FqVEIY
      hBvzG0ivbv7zWz4uzUeTvHE2dnw7B38f5NJYfIMfSHJQetQerULgkCtTw6r9aSjN
      RdtO+uFHw+EWYhBoZTHAAHUJaECtmDC6cjYX1dBO4LaIPhcTE0jvtOk84csqT0qZ
      lxiGjWcJXKQ8ALtExF8bxr9nhacJ45o2ks6UcH+DgtOByJA/IaMlpMClgiCUlD20
      Yiy5fqa5XsQCp7lZlIZzOAGxgpnZAwwcGrQPupGxy08OX/wKocp3jgeN4w66a0dN
      9Fka1/qeAIloE0U0yw94hYn3aw5EpfGHeu/WtwuTyOrDK99OLkQy9t99DlfM83Pn
      oqa2xLmkia3IVTRuEqscNiUr4IURfcFSAUDKVroAN1K37ouBbq+WncXms5s+aP10
      p8UkfhROITY4BJvukYAko7pRfkFesW+PaPBU2RDqeqjezi4qwEJJetdXYJLScgVS
      wu+boAv9SyZeBuDvnQ8yVtFuLIUgh3k6lgECF0vrLCIETDoT/0u8rwA9fexhozOo
      w6GUiLgJfZwCEPV/+RVHgEe3AkP4zjXQ6J1Sc/jvUeXmx464RTIpiImKhwGCEUVC
      290isDUABIMshj6PRYRKX4buROWFTR0vV8qN1mYU9ldYcoLX/LZvRyuNGSMaNoZP
      cvR8ai+j0F9tTuonHvTgeLmZ7ybg7EG/pMzpWTMZObrQ15zO82iCaEW+BQbKzBEv
      IulouwBmUDyxcTgGcwIDAQABo4GUMIGRMB0GA1UdDgQWBBR7doTK3AiyLCVsQAwG
      odksvJ4/jTAfBgNVHSMEGDAWgBR7doTK3AiyLCVsQAwGodksvJ4/jTAPBgNVHRMB
      Af8EBTADAQH/MA4GA1UdDwEB/wQEAwIBhjAuBgNVHR8EJzAlMCOgIaAfhh1odHRw
      Oi8vY3JsLmV4YW1wbGUuY29tL2NhLmNybDANBgkqhkiG9w0BAQsFAAOCBAEASckR
      YLadLAngdgJWfwKHhnHo05ua+Uoiw7YObZuuTj+xhZsnEqagzdt0BmukxPPwfA4J
      gzp64AL/XJk8EDQLlZCz6g+Qq194KXl9outQ0q9wK5ZRyk1b2R4IU7A8Z8m3U7gT
      Fzia2YLJKwwsatz+R6iLnq4MNIAUPZlyG9jIUOYUEHfb8v4JPNSiJO8lcqliS3nR
      lQPUzZO1n6XNgdEClcxw2D5ZLEL9XoqM60MgL55A1qFZzhHrTQpjeegoGjNKAb8E
      MvK89yFbNyaB4aMfKceGvZ2Of0F0/vdxZ55dIz2SiwP81ttPX0ORSw8CWqAYHI/1
      wthxAUvV7YEdvaCbskId9Q6mBztSy6cb3ZKO9VJSNAzc4bgAsmnwRRR5c2DIf8x/
      QMdB+mt99ESiCeTJ9dwWUBSK5Evdt8rE0TQni1WypChqM1R+YZ4JMWEwymYiv6L+
      2JkRbNXjOO22Yl6NQClu1dVgBDksWMV3m/mcYI5mTfZVua05XawrPiWl95ppbBrR
      fwXZ3E5Ncn8BFGKx1PqYEsjcpjhl0TPRwCunD1eijxKhusmrhW22Bv9DqWQBdWqa
      AANQR+GEadl6w3fyi+3dC042f/TGpZV+PpMp4cAjdf1YSZFZV9eglaO+LArwriBu
      wYCRzYmAEfY8NxAWtnpziIfltBNtFVvseGka9LiySiEh8x3e2EJ8KZweTNHlZyHZ
      MeBpc/wWrtBnVjEvi/nqXY6ZSwMqig3Bt60xtAUtafVlqS4hiH+WAbH4V0iRHKG4
      YrvQ7w1f5oqsF7FdaRb2CeRMVOQTLugJzQ2tMXvna5IWWAQNOOuyk47XSGx0DxJN
      hvhp4CZSvdFwHHTSfJcF+b8bQjIy1MOFhzTz/jZWZTxCmhX5fX6WwZwqq/8q4G9+
      pAoYHKrTyNov8xec7uwhzonkhFWUjDUtjRHTwU4dwDNkLGqPHVBljxsmsLsUskJs
      ByicpwsaShIak2hZaW94gqSmTOa9ho9VnMAzkZ9RQAWsgBTkrjy7gU02wYGIFEIy
      dMSdhPvf9DR4mas6gXP45Y2Oyq6ukzKaXoV03SgD+xRSqYj4y7q6dfdCkRiG7+2P
      Cfu7Mxg/02YF3TBnntCdv8dcp2j5sJ4RbN8bVznprDqqAufUHsUQNHPYEQvanglw
      TsgkLvh05FMDroJqGFloue0ajwe0L/pWCI59PJohAdng1fSd3ZcmP3zUBi9DifrG
      pG0ZRiLQjpxx40GOYYh8ycvO/5lFZz0/ufeoiETmlT/COSPXR3Z8feL9tpaeAxyY
      NA4BRKwNRnvPPB46dR5q7Z8ahOeNuFWcckolyFhSUHzV3FPTYiimM5ff4ZEvHW11
      pH4Fm6eMW5parc8jfg==
      -----END CERTIFICATE-----

# CHRONY

chrony_monit_state: True
chrony_prometheus_state: True
chrony_server:
  - {address: 'ntp1.example.com', options: {'burst', 'prefer', 'minpoll 4', 'maxpoll 6'}, comment: 'h_ntp1'}
  - {address: 'ntp2.example.com', options: {'burst', 'prefer', 'minpoll 4', 'maxpoll 6'}, comment: 'h_ntp2'}
  - {address: 'ntp3.example.com', options: {'burst', 'prefer', 'minpoll 4', 'maxpoll 6'}, comment: 'h_ntp3'}
  - {address: 'ntp4.example.com', options: {'burst', 'prefer', 'minpoll 4', 'maxpoll 6'}, comment: 'h_ntp4'}

# FSTRIM

fstrim_prometheus_state: True

# LEGO

lego_email: 'admin@example.com'
lego_prometheus_state: True
lego_server: 'https://ca.example.com/acme/acme/directory'

# MONIT

monit_config_all:
  - name: 'pvedaemon'
    state: True
    comment: 'pvedaemon'
    config: |
      check process pvedaemon matching "pvedaemon"
        if failed host 127.0.0.1 port 85 type tcp with timeout 10 seconds then alert

  - name: 'pveproxy'
    state: True
    comment: 'pveproxy'
    config: |
      check process pveproxy matching "pveproxy"
        if failed host 127.0.0.1 port 8006 type tcp with timeout 10 seconds then alert

monit_mail_server:
  - {address: '127.0.0.1', port: '25'}

monit_mail_to: []

# MONIT_EXPORTER

monit_exporter_monit_state: True

# NFTABLES

nftables_filter_rule_all: |
  add rule ip filter INPUT ip saddr 10.0.0.0/8 ct state new tcp dport 22 counter accept comment "ssh from internal-networks"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9100 counter accept comment "node_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9101 counter accept comment "haproxy_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9104 counter accept comment "mysqld_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9115 counter accept comment "blackbox_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9290 counter accept comment "ipmi_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.18 ct state new tcp dport 9388 counter accept comment "monit_exporter from h_ms1"
  add rule ip filter INPUT ip saddr 10.1.11.20 ct state new tcp dport 80 counter accept comment "acme from h_ca1"
  add rule ip filter OUTPUT ip daddr { 10.1.11.11, 10.1.11.12 } ct state new tcp dport 53 counter accept comment "dns to h_ns1, h_ns2"
  add rule ip filter OUTPUT ip daddr { 10.1.11.11, 10.1.11.12 } ct state new udp dport 53 counter accept comment "dns to h_ns1, h_ns2"
  add rule ip filter OUTPUT ip daddr { 10.1.11.13, 10.1.11.14, 10.0.0.15, 10.0.0.16 } 10.1.1.1 ct state new udp dport 123 counter accept comment "ntp to h_ntp1, h_ntp2, h_ntp3, h_ntp4"
  add rule ip filter OUTPUT ip daddr 10.1.11.17 ct state new tcp dport 25 counter accept comment "smtp to h_mx1"
  add rule ip filter OUTPUT ip daddr 10.1.11.20 ct state new tcp dport 443 counter accept comment "acme to h_ca1"
  add rule ip filter OUTPUT ip daddr 10.1.11.21 ct state new tcp dport 443 counter accept comment "https to h_bs1"
  add rule ip filter OUTPUT ip daddr 10.1.11.19 ct state new tcp dport 514 counter accept comment "syslog to h_ls1"
  add rule ip filter OUTPUT ip daddr 10.1.11.19 ct state new udp dport 514 counter accept comment "syslog to h_ls1"
  add rule ip filter OUTPUT ip daddr 10.1.11.10 ct state new tcp dport 3128 counter accept comment "squid to h_fp1"

# NGINX

nginx_log_format_main: |-
  'remote_addr:$remote_addr - $remote_user [$time_local] request:"$request" '
  'status:$status $body_bytes_sent "$http_referer" '
  '"$http_user_agent" http_x_forwarded_for:"$http_x_forwarded_for"'

nginx_log_format_main_ssl: |-
  'remote_addr:$remote_addr - $remote_user [$time_local] request:"$request" '
  'status:$status $body_bytes_sent "$http_referer" '
  '"$http_user_agent" http_x_forwarded_for:"$http_x_forwarded_for" '
  '$ssl_protocol/$ssl_cipher '

nginx_monit_state: True
nginx_rsyslog_state: True

# NODE_EXPORTER

node_exporter_monit_state: True

# OPENSMTPD

opensmtpd_action_all:
  - {config: {'action "local" mbox alias <aliases>'}, comment: 'Action: local'}
  - {config: {'action "relay" relay host smtp://mail.example.com:25'}, comment: 'Action: relay'}
opensmtpd_monit_state: True
opensmtpd_root_mail_address: 'admin@example.com'

# OPENSSH

openssh_allow_users: ['example']
openssh_host_key: ['/etc/ssh/ssh_host_ed25519_key']
openssh_host_key_algorithms: ['ssh-ed25519']
openssh_pubkey_accepted_algorithms: ['ssh-ed25519']
openssh_monit_state: True
openssh_password_authentication: False

# PACKAGE

package_config_all:
  - {name: 'bzip2', state: True}
  - {name: 'ca-certificates', state: True}
  - {name: 'colordiff', state: True}
  - {name: 'coreutils', state: True}
  - {name: 'curl', state: True}
  - {name: 'diffutils', state: True}
  - {name: 'dnsutils', state: True}
  - {name: 'dstat', state: True}
  - {name: 'file', state: True}
  - {name: 'findutils', state: True}
  - {name: 'gdisk', state: True}
  - {name: 'grep', state: True}
  - {name: 'gzip', state: True}
  - {name: 'htop', state: True}
  - {name: 'iproute2', state: True}
  - {name: 'iputils-ping', state: True}
  - {name: 'jq', state: True}
  - {name: 'ldnsutils', state: True}
  - {name: 'less', state: True}
  - {name: 'lowdown', state: True}
  - {name: 'man-db', state: True}
  - {name: 'net-tools', state: True}
  - {name: 'nload', state: True}
  - {name: 'openvswitch-switch', state: True}
  - {name: 'rsync', state: True}
  - {name: 'sed', state: True}
  - {name: 'sysstat', state: True}
  - {name: 'tar', state: True}
  - {name: 'tcpdump', state: True}
  - {name: 'telnet', state: True}
  - {name: 'unzip', state: True}
  - {name: 'wget', state: True}
  - {name: 'zip', state: True}

# RESOLVER

resolver_domain: 'example.com'
resolver_nameserver:
  - {address: '10.0.0.11', comment: 'Server: h_ns01'}
  - {address: '10.0.0.12', comment: 'Server: h_ns02'}
resolver_search: ['example.com']

# ROOT

root_password: '$2b$10$Jua/9rgOstNEVRKz11ncGO1EG.Z1krMLkOurJe4jNHVEU0UZV4fI6'

# RSYSLOG

rsyslog_monit_state: True

# SHELL

shell_ftp_proxy: 'http://proxy.example.com:3128'
shell_http_proxy: 'http://proxy.example.com:3128'
shell_https_proxy: 'http://proxy.example.com:3128'
shell_no_proxy: ['localhost', '127.0.0.1', '::1', 'bs.example.com', 'backup.example.com']

# SUDO

sudo_config_all:
  - name: 'root'
    state: True
    order: '10'
    config: |
      # root
      root ALL=(ALL) ALL

  - name: 'example'
    state: True
    order: '50'
    config: |
      # example
      example ALL=(root) NOPASSWD: ALL

# TIMEZONE

timezone_timezone: 'UTC'

# USER

user_config_all:
  - name: 'example'
    state: True
    comment: 'example'
    uid: '1000'
    group: 'example'
    groups: ['wheel']
    groups_append: True
    password: '$2b$10$6cmx3Y2CaKFoAwqWmKXxtOCD0FWgPZ.QWor2m9W8U.m5E7ygTCb..'
    password_update: True
    shell: '/bin/bash'
    authorized_keys:
      - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII4JgSg6a8MHOvpODaZhvkOnEdWHQSdbkFaGHRYHW3qH example@example.com'

# ZFS

zfs_prometheus_state: True
